.navBarWrap {
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 9999;
}

.aWrap {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.aWrap:hover {
  color: green;
}
